*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Login Form CSS*/
.main-content a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
}

.main-content a:hover {
    color: #179b77;
}

.main-content {
    max-width: 630px;
    margin: 0px auto 25px;
    padding: 15px;
    background: #c1bdba;
}

.form {
    background: rgba(19, 35, 47, .9);
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, .25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab-group li a:hover {
    background: #179b77;
    color: #fff;
}

.tab-group .active a {
    background: #1ab188;
    color: #fff;
}

.main-content h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}

.main-content label {
    position: absolute;
    transform: translateY(6px);
    width: 100%;
    padding: 0 13px;
    color: rgba(255, 255, 255, .5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;
}

.main-content label .req {
    margin: 2px;
    color: #1ab188;
}

.main-content label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

.main-content label.active .req {
    opacity: 0;
}

.main-content label.highlight {
    color: #fff;
}

.main-content input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #fff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.main-content input:focus {
    outline: 0;
    border-color: #1ab188;
}

.main-content .field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row>div:last-child {
    margin: 0;
}

.main-content .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.main-content .button:hover,
.main-content .button:focus {
    background: #179b77;
}

.main-content .button-block {
    display: block;
    width: 100%;
}

.red-border {
    border: 1px solid #FF0000
}

.first-name-label {
    background: url(assets/img/first-name.PNG) no-repeat right;
    background-position: 97% 97%;
    height: 30px;
}

.set-password-label {
    background: url(assets/img/set-password.PNG) no-repeat right;
    background-position: 99% 99%;
}

/* Fund Related CSS */
.funding__amount--main-content,
.dynamic__buttons {
    max-width: 630px;
    margin: 40px auto;
    padding: 15px;
    justify-content: center;
    display: flex;
}

.funding__amount--main-content p {
    margin-top: 0;
    margin-bottom: 16px;
}

.funding__amount--main-content a {
    text-decoration: none;
}

.funding__amount--main-content .button {
    text-align: center;
    color: #777;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #eaeaea;
    background: #faf9f9;
    border-radius: 3px;
    box-shadow: 0 1px 1px #eaeaea;
    transition: background-color 0.2s ease-in-out;
    outline: none;
}

.funding__amount--main-content .button:hover,
.funding__amount--main-content .button:focus {
    border-color: #777;
}

.funding__amount--main-content .button:active {
    transform: translateY(2px);
}


.funding__container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.funding__amount-needed {
    background-color: #424242;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.funding__amount-needed::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #424242;
    display: block;
    position: absolute;
    bottom: -4px;
    right: 30px;
    transform: rotate(45deg);
}

.funding__amount-needed-inner {
    animation: fade-in 0.5s 1.9s both;
}

.funding__progress-bar {
    height: 22px;
    border: 2px solid #eaeaea;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.funding__current-progress {
    background-color: #EF5F3C;
    height: 100%;
    width: 74%;
    animation: progress-bar 1s ease-out 1s both;
}

.funding__give-section {
    font-size: 18px;
    color: #777;
    border: 2px solid #eaeaea;
    border-top: none;
    line-height: 1.5;
    text-align: left;
    padding: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 11px;
    box-shadow: 0 1px 1px #eaeaea;
}

.funding__days-left {
    font-size: 18px;
}

.funding__text-highlight {
    color: #EF5F3C;
}

.funding__form {
    margin-bottom: 12px;
    display: flex;
    position: relative;
}

.funding__dollar {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 19px;
    color: #777;
    font-weight: bold;
}

.funding__form-amount,
.funding__form-button {
    width: 50%;
    border-radius: 3px;
    outline: none;
}

.funding__form-amount {
    padding: 20px 20px 20px 24px;
    margin-right: 15px;
    border: 1px solid #eaeaea;
    font-size: 18px;
    font-weight: bold;
    color: #424242;
}

.funding__form-amount:focus {
    border-color: #777;
}

.funding__form-button {
    border: none;
    background-color: #1CBC2C;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.funding__form-button:hover,
.funding__form-button:focus {
    background-color: #1aaf29;
}

.funding__form-button:active {
    transform: translateY(2px);
}

.funding__link {
    color: #20A1D4;
    font-style: italic;
    font-size: 18px;
}

.funding__footer-buttons {
    display: flex;
    justify-content: space-between;
}

.funding__button {
    flex: 1;
}

.funding__button:first-child {
    margin-right: 15px;
}

/* Dynamic Button CSS */

.btn-styled {
    font-size: 14px;
    margin: 8px;
    padding: 0 10px;
    line-height: 2;
}

/* Header Tab CSS */

.header-tab {
    overflow: hidden;
    width: 100%;
    background: rgba(19, 35, 47, .9);
    border-radius: 4px;
    max-width: 630px;
    margin: 25px auto;
}

.header-tab button {
    background: rgba(160, 179, 176, .25);
    color: #a0b3b0;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33.3333333%;
}

.header-tab button.active,
.header-tab button:hover {
    background: #1ab188;
    color: #fff
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabactive {
    display: block;
}